<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<h3><a href="http://railstutorial.org/">RubyOnRails Tutorial</a> By <i><a href="http://michaelhartl.com/">Michael.J.Hartl</a></i></h3>
